#main-container-div {
    max-width: 50%;
    margin: auto;
}

#top-message-div {
    text-align: center;
    margin-bottom: 2%;
}

#filters-div {
    margin-bottom: 2%;
    border: 2px solid black;
    padding: 1%;
    text-align: center;
}

#filters-div > * {
    margin: 0 1%;
}

#charts-div {
    max-width: 50%;
    margin: auto;
}

.paper-div {
    border: 5px solid black;
    padding: 1%;
    margin: 1%;
}
